<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="header">
      <h1>Hero Squad</h1>
      <p>My Hero Squads Program.</p>
    </div>
    <div class="navigation">
      <a href="/">Home</a>
      <a href="/hero">Hero</a>
      <a href="/squad">Squad</a>
    </div>
    <div class="row">
      <div class="left-column">
      </div>
      <div class="right-column">
        <div class="field">

          <h3 class="jQueryHeader">All Squads</h3>
                      {{#each squads}}
                             <div class="hero">
                              <hr>
                               <p>Squad Id: {{id}}</p>
                               <p>Squad Name: {{name}}</p>
                               <p>Squad Size: {{size}}</p>
                               <p>Squad Cause: {{cause}}</p>
                             </div>
                           {{/each}}
          <img
            src="/images/boy-hero.jpg"
            alt="image not found"
            class="image"
          />
        </div>
      </div>
    </div>
    <div class="footer">
      <h4>(c) 2023 Eliud Gateri</h4>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
          <script src="/js/main.js"></script>
  </body>
</html>
