<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="header">
      <h1>Hero Squad</h1>
      <p>My Hero Squads Program.</p>
      <marquee class="marquee">PLease Check The Database Connection: There is a Problem</marquee>
    </div>
    <div class="navigation">
      <a href="/">Home</a>
      <a href="/hero">Hero</a>
      <a href="/squad">Squad</a>
    </div>
    <div class="row">

      <div class="left-column">
        <div class="field">
          <h3>About the Hero Squad Program</h3>
          <p><span id="beforepara">H</span>ero program is designed ..</p>
          <p>A hero Program should Allow:</p>
          <ul>
            <li><a href="/hero/new">Add a Hero</a></li>
            <li>View All Heroes</li>
            <li><a href="/squad/new">Add a Squad</a></li>
            <li>View All SQuads</li>
          </ul>
          <p>Enjoy!</p>
          <p></p>
        </div>
      </div>
      <div class="right-column">
        <div class="field">
          <h3>Hero Squad</h3>
          <img
            src="/images/spider-hero.jpg"
            alt="image not found"
            class="image"
          />
        </div>
      </div>
    </div>
    <div class="footer">
      <h4>(c) 2023 Eliud Gateri</h4>
    </div>
  </body>
</html>
