<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="header">
      <h1>Hero Squad</h1>
      <p>My Hero Squads Program.</p>
      <marquee class="marquee"> ** PLease Check The Database Connection ** </marquee>
    </div>
    <div class="navigation">
      <a href="/">Home</a>
      <a href="/hero">Hero</a>
      <a href="/squad">Squad</a>
    </div>
    <div class="row">
      <div class="left-column"></div>
      <div class="right-column">
        <div class="field">
          <h3 class="jQueryHeader">Hero Squad</h3>
          <p>
            Hero Squad program is designed allow a user add a hero, view all
            heroes, add a squad and view all squads:
          </p>
          <p>Use below links to Navigate the program:</p>
          <ul class="jQueryUl">
            <li><a href="/hero/new">Add a Hero</a></li>
            <li><a href="/hero/all">View All Heroes</a></li>
            <li><a href="/squad/new">Add a Squad</a></li>
            <li><a href="/squad/all">View All Squads</a></li>
          </ul>
          <img
            src="/images/spider-hero.jpg"
            alt="image not found"
            class="image"
          />
        </div>
      </div>
    </div>
    <div class="footer">
      <h4>(c) 2023 Eliud Gateri</h4>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
        <script src="/js/main.js"></script>
</html>
