<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="header">
      <h1>Hero Squad</h1>
      <p>My Hero Squads Program.</p>
    </div>
    <div class="navigation">
      <a href="/">Home</a>
      <a href="/hero">Hero</a>
      <a href="/squad">Squad</a>
    </div>
    <div class="row">
      <div class="leftcolumn">
        <div class="field">
          <h3>Squad</h3>
          <p>Attributes of a Squad:</p>
          <ul>
            <li>Id</li>
            <li>Name</li>
            <li>Size</li>
            <li>Cause</li>
          </ul>
        </div>
      </div>
      <div class="rightcolumn">
        <div class="field">
          <h3>Squad</h3>
          <img
            src="images/boy-hero.jpg"
            alt="image not found"
            class="image"
          />
        </div>
      </div>
    </div>
    <div class="footer">
      <h4>(c) 2023 Eliud Gateri</h4>
    </div>
  </body>
</html>
